<%= link_to 'New Notebook filter', new_notebook_filter_path %>
    <h1>配置页面</h1>
    <div class="callout">
      <h4>状况（全局配置）：</h4>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="new" checked>全新</label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="refurbuished" checked>翻新</label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="dent">破损</label>
    </div>
    <div class="callout">
      <h4>PN类型（全局配置）：</h4>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="new">长码</label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="refurbuished">短码</label>
    </div>

    <div class="callout">
      <h4>目标机型：</h4>
      <%= render :partial => 'filters' %>
    </div>
    <div class="callout">
      <h4>加入购物车的数量：</h4>
      <input class="form-control" type="text"></div>
    <div class="saveConfig">
      <button class="btn btn-primary btn-lg">保存配置文件</button>
    </div>
